/.vs
/consoleApp/bin
/consoleApp/obj
/empty/Properties/launchSettings.json
/empty/bin
/empty/obj
/empty/empty.csproj.user
/webApi/obj
/webApi/bin
/webApi/webApi.csproj.user
/mvc/obj
/mvc/bin
/.vscode
/maui/bin
/maui/obj
/mvc/mvc.csproj.user
/maui/maui.csproj.user
/blazor/obj
/blazor/bin
/razor/obj
/razor/bin
